.grid-container{
    display: grid;
    color:white;
    background-color: whitesmoke;
    width: 630px;
    height: 950px;
    grid-template-columns: auto auto auto auto;
    padding: 20px;
    gap: 20px;
}

.grid-item{
    font-size: 30px;
    text-align: center-#n;
}