* {
    text-decoration: none;
    margin: 3px;
    padding: 3px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family :'Times New Roman', Times, serif;
    background-color: coral;
}

h1 {
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color:black;

}

h2 { 
    font-family:'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

p {
    margin: 20px 0px 20px 0px;
    padding: 20px 0px 20px 0px;
}


.galeri-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-galeri {
    width: 20%;
    margin: 0 auto;
}

.kartu-galeri img {
    width: 300px;
    height: 200px;
    border-radius: 30px;
    margin: 30px;
}

.kartu-galeri p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 15px;
    text-align: left;
    color: #364f6b;
}